

Welcome {{lang}}
  
        <form  method="get"  *ngFor="let post of posts" accept-charset="ISO-8859-1">
         <div class="form-group" >
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
               
            <label>{{post.name }}</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter your Name" />
          </div>
          <br>
          <div class="form-group" >
            
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
               
                <label>{{post.email}}</label>
                  <input type="text" class="form-control" [(ngModel)]="email" name="email"  placeholder="Enter your Email"/>
              </div>
           
            <br>
          <div class="form-group" >
           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
               <label>{{post.username }}</label>
                <input type="text" class="form-control" [(ngModel)]="username"  name="username" placeholder="Enter your Username"/>
              </div>
            
          <br>
          <div class="form-group">
            
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <label>{{post.password }}</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password"  placeholder="Enter your Password"/>
               
              </div>
            
           <br>
          <div class="form-group" >
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <label>{{post.confirmPassword }}</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword"  placeholder="Confirm your Password"/>
               
             
          </div>
          <br>
         </form> 
         

 
